:root {
    /*	colores institucionales*/
    --inst-blue: #153244;
    --inst-cyan: #8DE2D6;
    --inst-white: #FCFCFC;
    --inst-yellow: #FFCC00;
    --inst-gray: #3C3C3B;

    /* --- Colores base --- */
    --bs-primary: var(--inst-blue);
    --bs-secondary: var(--inst-cyan);

}



/* Iconos de Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
	font-family: 'Archivo';
	src: url('../Fonts/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Archivo';
	src: url('../Fonts/Archivo-Italic-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

body{
	font-family: 'Archivo', Arial, sans-serif;
}

