.btn-primary {
    --bs-btn-bg: var(--bs-primary); /*Color del relleno*/
    --bs-btn-border-color: var(--bs-primary); /*Color del bordea*/
    --bs-btn-color: var(--inst-white); /* Color del texto */
    --bs-btn-hover-bg: var(--bs-secondary); /* Color al pasar el mouse */
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-primary); /* Color del texto al pasar el mouse */
    --bs-btn-active-bg: #0f2430; /* Color al hacer clic */
    --bs-btn-active-border-color: #0f2430;
    font-weight: bold;
}

.btn-secondary {
    --bs-btn-bg: var(--bs-secondary); 
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-color: var(--bs-primary); /* Color del texto */
    --bs-btn-hover-bg: var(--bs-primary); /* Color al pasar el mouse */
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-hover-color: var(--inst-white); /* Color del texto al pasar el mouse */
    --bs-btn-active-bg: #0f2430; /* Color al hacer clic */
    --bs-btn-active-border-color: #0f2430;
    font-weight:bold;
}
.navbar-3d {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 -2px 1px rgba(255, 255, 255, 0.2) inset;
    background-color: var(--bs-primary);
}


/*PARA TENER GUARDADO / MODIFICAR / MEJORAR */

.table, .table-3d, .table-3d thead, .table-3d tbody, .table-3d tr, .table-3d th, .table-3d td {
    color: #ecf0f1 !important;
}

.table-3d {
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
}

    .table-3d thead th {
        background-color: #153244;
        color: #ecf0f1;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        border: none;
    }
.form-group label {
    font-size: 14px;
    color: #212529;
    font-weight: 600;
}

.form-group .dropdown-toggle {
    background-color: #f8f9fa;
    color: #212529;
    border-radius: 0.375rem;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
}

    .form-group .dropdown-toggle:hover {
        background-color: #e2e6ea;
        border-color: #adb5bd;
        color: #212529;
    }

.form-group .dropdown-menu {
    border: 1px solid;
    border-radius: 0.375rem;
    padding: 0.5rem;
    background-color: #ffffff;
    max-height: 200px;
    overflow-y: auto;
}

    .form-group .dropdown-menu .form-check:hover {
        background-color: transparent;
    }

    .form-group .dropdown-menu .form-check input[type="checkbox"]:focus {
        outline: none;
        box-shadow: none;
    }

    .form-group .dropdown-menu .form-check {
        margin-bottom: 0.5rem;
    }

        .form-group .dropdown-menu .form-check label {
            font-size: 14px;
            color: #495057;
            background-color: transparent;
        }

        .form-group .dropdown-menu .form-check input[type="checkbox"] {
            margin-right: 8px;
        }

            .form-group .dropdown-menu .form-check input[type="checkbox"]:focus + label,
            .form-group .dropdown-menu .form-check input[type="checkbox"]:checked + label {
                color: #495057;
                background-color: transparent;
                font-weight: normal;
            }


.table-bordered th, .table-bordered td {
    border: 1px solid #dddddd;
    text-align: center;
}

.table-hover tbody tr:hover {
    background-color: #f2f2f2;
}

.table1 th, .table1 td {
    padding: 12px;
    font-size: 14px;
}

.table1 {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

    .table1 th {
        text-align: center;
        font-weight: bold;
        background: #153244;
        color: white;
        border: 1px solid #153244;
    }
.form-label {
    margin-bottom: 0;
}

.d-flex.align-items-end > .form-control {
    margin-right: 8px;
}

.form-control-uniform {
    display: inline-block;
    font-size: 14px;
    padding: 4px 12px;
    border: 1px solid;
}
.lbl-left {
    text-align: left;
    display: block;
    font-weight: bold;
}

.oculto {
    display: none;
}
.section-divider {
    margin: 2rem 0;
    border-top: 2px solid #ccc;
}
